div.panel.panel-default
    div.panel-body
        div.pull-left.text-muted
            != tagline
        div.pull-right.text-info
            | View me on
            |
            a(href="https://github.com/faceofcat") GitHub