head
    meta(charset="utf8")
    meta(http-equiv="X-UA-Compatible",content="chrome=1")
    meta(name="description", content=name + ': ' + tagline)
    title=currentTitle + ' - ' + name
    
    //- Favicon - by http://realfavicongenerator.net
    link(rel="icon", type="image/png", sizes="32x32", href="assets/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="assets/favicon-16x16.png")

    //- Responsiveness
    meta(name="viewport", content="width=device-width, initial-scale=1")

    //- CSS
    link(rel="stylesheet", href="assets/css-libs/bootstrap-3.3.7.min.css")
    link(rel="stylesheet", href="assets/css-libs/bootstrap-theme-3.3.7.min.css")
    //- link(rel="stylesheet", href="/stylesheets/font-awesome-4.6.3/css/font-awesome.min.css")
    //- link(rel="stylesheet", href="/stylesheets/highlightjs/styles/solarized-light.css")

    //- Scripts
    script(type="text/javascript", src="assets/js-libs/jquery-3.2.1.min.js")
    script(type="text/javascript", src="assets/js-libs/bootstrap-3.3.7.min.js")

    script(type="text/javascript", src="assets/js/src/site.js")
