doctype html
html
    include head
    block extra-head
    body(style="padding-top: 70px;")
        include header
        block docs-header
        div.container(role="main")
            block content
            include footer